includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    scanFiles:
        - _ide_helper.php
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes

    # The level 8 is the highest level
    level: 8

    checkMissingIterableValueType: false
